body{
    padding: 0;
    margin:0;
    background-color: #F7F4EA;
}

.todo-container {
    width: 30rem;
    min-height: 15rem; 
    position: absolute;
    top: 10%;
    left: 33%;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #EBD9D1;
    font-family: Arial, sans-serif;
    border: 2px solid black;
    height: auto;
}

  
h1 {
    text-align: center;
    margin-bottom: 3rem;
}
  
.input-row {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
  
input {
    flex: 1;
    padding: 13px;
    border: 1px solid black;
    border-radius: 6px;
}
  
button {
    padding: 8px 12px;
    border: none;
    background: #bddeb4;
    color: black;
    border-radius: 6px;
    cursor: pointer;
}
  
button:hover {
    background: #a5ef93;
}
  
.task-list {
    list-style: none;
    padding: 0;
}
  
.task-list li {
    display: flex;
    justify-content: space-between; 
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 6px;
}
  
.task-list li.completed > span {
    text-decoration: line-through;
    color: gray;
}

.actions {
    display: flex;
    gap: 10px; 
}
  
.actions span {
    cursor: pointer;
    font-size: 18px;
}
  
.actions span:hover {
    opacity: 0.7;
}
